---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .ControllerName }}
  namespace: kompiler
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .ControllerName }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: {{ .ControllerName }}
    namespace: kompiler
---
apiVersion: v1
kind: Service
metadata:
  name: kompile-demo-controller
spec:
  selector:
    app.kubernetes.io/name: {{ .ControllerName }}
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: {{ .ControllerName }}
  name: controller
  namespace: kompiler
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .ControllerName }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .ControllerName }}
    spec:
      containers:
        - image: {{ .ControllerImage }}
          name: controller
          ports:
            - containerPort: 8080
          env:
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
      serviceAccountName: {{ .ControllerName }}
      nodeSelector:
        type: kind-worker
