---
apiVersion: v1
kind: Service
metadata:
  name: photo-service
  namespace: kompiler
spec:
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app.kubernetes.io/name: kompiler-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/name: kompiler-demo
  name: demo
  namespace: kompiler
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kompiler-demo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kompiler-demo
    spec:
      containers:
        - image: PLACEHOLDER
          name: photo-service
          ports:
            - containerPort: 8080
      nodeSelector:
        type: kind-worker
